* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF6A17;
    --secondary-color: #F89761;
    --tertiary-color: #020202;
    --quaternary-color: #CCC;
    --fundo-icons: #FFFFFF;
}

.navbar {
    width: 100%;
    height: 95px;
    border-bottom: 2px solid var(--secondary-color);
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
}

.navbar img {
    width: 250px;
}

.container-fluid {
    padding: 1rem 2rem;
}

.nav-link {
    color: var(--tertiary-color);
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 1rem;
    transition: all 0.3s ease;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons a {
    text-decoration: none;
}

.icons i {
    font-size: 2rem;
    color: var(--fundo-icons);
    transition: all 0.3s ease;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 8px;
}
.icons i:hover {
    color: var(--primary-color);
    background-color: var(--fundo-icons);
}